body{
    color: white;
    background-color:#392A48;
    text-align: center;
}
.count::after{
    font-size: 100px;
    content: counter(number);
    animation: counter 5s linear infinite alternate;
    counter-reset: number 0;
}
.block{
    height: 100px;
    width: 1px;
    background-color: red;
    animation: p 5s linear infinite alternate;    
}
.rightBlock{

    width: 1px;
    height: 100px;
    float: right;
    background: royalblue;
    animation: p 5s linear infinite alternate;   

}
@keyframes counter {
    0%{
        counter-increment: number 0;
    }
    10%{
        counter-increment: number 1;
    }
    20%{
        counter-increment: number 2;
    }
    30%{
        counter-increment: number 3;
    }
    40%{
        counter-increment: number 4;
    }
    50%{
        counter-increment: number 5;
    }
    60%{
        counter-increment: number 6;
    }
    70%{
        counter-increment: number 7;
    }
    80%{
        counter-increment: number 8;
    }
    90%{
        counter-increment: number 9;
    }
    100%{
        counter-increment: number 10;
    }   
}
@keyframes p {
    0%{
        width: 0px;
    }
    
    100%{
        width: 1525px;
        background: green;
    }
    
}

