body{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    overscroll-behavior: none;
}
canvas{
    
    box-shadow: black 20px 10px 50px;
    margin: 50px;
}
.dark{
    background-color:  #39065A;
    color: #C4BBF0;
}
.darkBtn{
    position: absolute;
    left:250px;
    top: 85%;
    -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 50px;
   color: #FFFFFF;
   font-family: Garamond;
   font-size: 19px;
   font-weight: 100;
   padding: 18px;
   background-color: #4F3B78;
   cursor: pointer;
   text-align: center;
}